body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section, footer {
    padding: 20px;
    text-align: center;
}

header {
    background-color: #0ee869;
    color: #fff;
}

.features {
    background-color: #f0f0f0;
    color: #f0f0f0;
    background-image: url("download.jpeg");
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
